<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>

            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <!-- <div class="table-responsive" *ngIf="!isEmpty">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let prod of productAddtoCart">
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="../../assets/img/cart.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>{{prod.name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{prod.price}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="{{prod.code}}" maxlength="12" value="1" title="Quantity:"
                                            class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                            
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst > 0 )result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <h5>${{prod.price}}</h5>
                                </td>
                            </tr>
                        </ng-container>                      
                        
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="#">Update Cart</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Coupon Code">
                                    <a class="primary-btn" href="#">Apply</a>
                                    <a class="gray_btn" href="#">Close</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Total:</h5>
                            </td>
                            <td>
                                <h5>${{totalPrice | number:'1.1-2'}}</h5>
                            </td>
                        </tr>

                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" routerLink="/product">Continue Shopping</a>
                                    <a class="primary-btn" style="width:40%" routerLink="/cart/order-status">Checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->

            <div class="row fullscreen align-items-center justify-content-start">
                <img class="img-fluid center" style="width: 100%; height: 70%" src="../../assets/img/empty-cart-png.png" alt="">
            </div>


        </div>
    </div>
</section>
<!--================End Cart Area =================-->
