ion-icon {
    font-size: 30px;   
}

ion-icon[name="albums-outline"] {
    color: lightseagreen;
}

ion-icon[name="close-circle-outline"] {
    color: red;
}

.col-sm-6{
    display:inline-block;
}

.img_product{
    max-width: 100px;
    max-height: 100px;
}