<div style="text-align: right; padding: 10px 0 10px;">
    <button  type="button" class="btn btn-primary" (click)="createProduct()" data-toggle="modal" data-target="#staticBackdrop2"><span>New Product</span> </button>
</div> 

<br>

<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
          <th style="text-align: center;" scope="col">Name</th>
          <th style="text-align: center;" scope="col">Brand</th>
          <th style="text-align: center;" scope="col">Description</th>
          <th style="text-align: center;" scope="col">Quantity</th>
          <th style="text-align: center;" scope="col">Price</th>
          <th style="text-align: center;" scope="col">Image</th>
          <th style="text-align: center;" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of service.list">
            <td>{{pro.Name}}</td>
            <td style="text-align: center;">{{pro.Brand}}</td>
            <td style="max-width: 500px;">{{pro.Description}}</td>
            <td style="text-align: center;">{{pro.Quantity}}</td>
            <td style="text-align: center;">{{pro.Price}}</td>
            <td><img class="img_product" src="../../../assets/img/category/c3.jpg" alt=""></td>
            <td>
                <div class="col-sm-6">
                   <ion-icon type="button" name="albums-outline" (click)="editProduct(pro)" data-toggle="modal" data-target="#staticBackdrop"></ion-icon>
                </div>
                <div class="col-sm-6">
                    <ion-icon type="button" name="close-circle-outline" (click)="deleteProduct(pro.Code, pro.Name)"></ion-icon>
                </div>
            </td>

            <!-- <td><ion-icon type="button" name="albums-outline" (click)="editProduct(pro)" data-toggle="modal" data-target="#staticBackdrop"></ion-icon></td>
            <td><ion-icon type="button" name="close-circle-outline" (click)="deleteProduct(pro.Code, pro.Name)"></ion-icon></td> -->
        </tr>
      </tbody>
</table>

<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">Update</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-edit-product></app-edit-product>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop2" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">Create</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-edit-product></app-edit-product>
        </div>
      </div>
    </div>
  </div>